{% extends "base.html" %}

{% block title %}Solar System Explorer{% endblock %}

{% block content %}

<section class="orbit-page">

    <div class="hero-text">
        <h1>Solar System Explorer</h1>
        <p>Click on any planet to explore its information</p>
    </div>

    <div class="solar-system">

        <img class="sun" src="{{ url_for('static', filename='images/sun.png') }}" alt="Sun">

        {% for planet in planets %}
            <div class="orbit orbit-{{ planet.position }}">
                <a href="{{ url_for('planets') }}"
                   class="orbit-planet planet-{{ planet.position }}"
                   title="{{ planet.name }}">
                    <img src="{{ planet.image }}" alt="{{ planet.name }}">
                </a>
            </div>
        {% endfor %}

    </div>

    <br>

    <a class="detail-button explore-button" href="{{ url_for('planets') }}">
        View planet list
    </a>


</section>

{% endblock %}